{% extends 'users/base.html' %}

{% block title %}
  Users list
{% endblock %}

{% block body %}
  <h1>Users</h1>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-8">
      {% if users %}
        <div class="list-group">
          {% for user in users %}
            <a
              class="list-group-item link-primary link-underline"
              href="{{ url_for('users_app.details', user_id=user.id) }}"
            >{{ user.name }}</a>
          {% endfor %}
        </div>
      {% else %}
        <h2>No users yet</h2>
      {% endif %}
    </div>
  </div>
  <div>
    <a
      href="{{ url_for('users_app.add') }}"
    >Add a new user</a>
  </div>
{% endblock %}
